# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


/ApiServer/log/analyticsLog.txt
/ApiServer/log/connectorLog.txt
/ApiServer/log/gatewayLog.txt
/ApiServer/log/resourceLog.txt
